---
import Header from "../navigation/header.astro";
import Footer from "../navigation/footer.astro";
import { ViewTransitions } from "astro:transitions";

export interface Props {
  title: string;
  header: boolean;
  footer: boolean;
}

const { title, header, footer } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      content="#000"
      name="theme-color"
    />
    <link
      rel="icon"
      href="/royal logo.png"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body>
    <script>
      import "../../libs/smoothScrollNavbar.ts";
    </script>
    {header && <Header />}
    <slot />
    {footer && <Footer />}
  </body></html
>
