<footer class="bg-black py-10">
  <div class="mx-auto px-6">
    <div class="flex flex-col items-center">
      <div class="text-center sm:w-2/3">
        <p class="text-sm font-bold text-white">
          © 2020 by <a
            href="https://www.davq.de/"
            class="text-blue-400 hover:text-blue-500"
            >David.</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
