---

---

<header
  class="fixed z-50 flex w-full animate-fade bg-black px-10 pb-4 pt-5 duration-1000 md:px-20"
  id="header"
>
  <div class="flex w-full items-center justify-between">
    <a href="/">
      <img
        src="royal logo.png"
        class="h-20 opacity-60 duration-300 hover:opacity-100"
      />
    </a>

    <nav id="navbar">
      <ul class="flex">
        <li class="mr-5">
          <a
            class="decoration-from-font opacity-60 transition-opacity duration-300 hover:opacity-100"
            href="#home"
          >
            Home
          </a>
        </li>
        <li class="mr-5">
          <a
            class="decoration-from-font opacity-60 transition-opacity duration-300 hover:opacity-100"
            href="#about"
          >
            About
          </a>
        </li>
        <li>
          <a
            class="decoration-from-font opacity-60 transition-opacity duration-300 hover:opacity-100"
            href="#projects"
          >
            Projects
          </a>
        </li>
      </ul>
    </nav>
  </div></header
>
