---

---

<header
  class="fixed z-50 flex w-full animate-fade justify-center px-10 pb-4 pt-11 duration-1000 md:px-20"
  id="header"
>
  <div class="flex w-full max-w-screen-2xl items-center justify-between">
    <h1
      class="font-outfit-bold text-3xl opacity-60 duration-300 hover:opacity-100"
    >
      <a href="/">Royal</a>
    </h1>

    <nav
      class="hidden md:flex"
      id="navbar"
    >
      <ul class="flex">
        <li class="mr-5">
          <a
            class="decoration-from-font opacity-60 transition-opacity duration-300 hover:opacity-100"
            href="#home"
          >
            Home
          </a>
        </li>
        <li class="mr-5">
          <a
            class="decoration-from-font opacity-60 transition-opacity duration-300 hover:opacity-100"
            href="#about"
          >
            About
          </a>
        </li>
        <li class="mr-5">
          <a
            class="decoration-from-font opacity-60 transition-opacity duration-300 hover:opacity-100"
            href="#projects"
          >
            Projects
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
