---
import Layout from "../components/layout/layout.astro";
import "../styles/global.css";
---

<Layout
  footer
  header
  title="Royal Unternehmensgruppe"
>
  <main
    class="flex animate-fade-down flex-col items-center justify-center pt-32 duration-1000 md:pt-64"
  >
    <section class="flex w-full flex-col items-center justify-center">
      <h1 class="-z-10 text-center text-[20rem] text-gray-800 opacity-40">
        ROYAL
      </h1>
      <h3 class="text-4xl underline"> In die Zukunft investieren</h3>
    </section>
  </main>
</Layout>
